@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Merriweather:ital,wght@0,400;1,400&family=IBM+Plex+Mono&display=swap');

body {
  @apply bg-white text-gray-900;
}